.InputMessage{
    margin-top:15px;
}
.Captcha{
    text-align: center;
}
.center-it > div{
    margin: 15px auto;

}

 #map {
  border-radius: 5px;
  width: 100%;
  height:400px;
  background-color: grey;
  
 }
.ContactRef{
    margin:15px auto;
}
/*css don*/
.btn-center{
    margin:10px 260px;
}

/*css carousels templates jeunes/adultes*/
.img-size{
    height:200px;
}
#CarouActi{
    height: 500px;
}
#CarouInner{
    height:50%
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    object-fit: cover;
    width: 100%;
    height:500px;
}